:root 
{
    /* global constants */
}

body 
{
    background-color: white;
}

#container
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#questionBlock 
{
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}

#questionBlock button {
    flex-grow: 1;
    width: 0;
    break-after: always;
  }

.possibleAnswer
{
    min-width: 300px;
    text-align: left;
}